In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("BikePrices.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'BikePrices.csv'

1. Cantidad de valores faltantes en cada columna del dataframe

In [ ]:
df.isna().sum()

Brand                  0
Model                  0
Selling_Price          0
Year                   0
Seller_Type            0
Owner                  0
KM_Driven              0
Ex_Showroom_Price    435
dtype: int64

2. Cantidad de valores en cada columna

In [ ]:
df.notna().sum()

Brand                1061
Model                1061
Selling_Price        1061
Year                 1061
Seller_Type          1061
Owner                1061
KM_Driven            1061
Ex_Showroom_Price     626
dtype: int64

3. Devuelve el dataframe eliminando las filas que contienen al menos un valor faltante

In [ ]:
df.dropna()

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0
...,...,...,...,...,...,...,...,...
621,Harley,Harley-Davidson Street 750,330000,2014,Individual,4th owner,6500,534000.0
622,Kawasaki,Kawasaki Ninja 650 [2018-2019],300000,2011,Individual,1st owner,12000,589000.0
623,Kawasaki,Kawasaki Ninja 650 [2018-2019],425000,2017,Individual,2nd owner,13600,599000.0
624,Suzuki,Suzuki GSX S750,760000,2019,Individual,1st owner,2800,752020.0
625,Harley,Harley-Davidson Street Bob,750000,2013,Individual,2nd owner,12000,1278000.0

4. Tamaño del dataframe después de eliminar las filas con valores faltantes

In [ ]:
df.dropna().shape

(626, 8)

In [ ]:
df

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0
...,...,...,...,...,...,...,...,...
1056,Royal,Royal Enfield Electra 5 S,90000,2012,Individual,1st owner,40000,NaN
1057,Hero,Hero Honda Hunk,20000,2010,Individual,1st owner,17000,NaN
1058,Bajaj,Bajaj Pulsar 220 DTS-i,60000,2014,Individual,1st owner,16000,NaN
1059,Hero,Hero Honda CBZ extreme,40000,2009,Individual,1st owner,50000,NaN
1060,Hero,Hero Honda CBZ extreme,35000,2012,Individual,1st owner,60000,NaN

5. Revisar la columna ""Year" y contar cuántas veces aparece cada año

In [ ]:
df['Year'].value_counts()

Year
2017    133
2018    131
2016    107
2015    100
2014     91
2019     86
2013     73
2012     70
2011     61
2010     60
2007     29
2008     28
2009     28
2006     20
2005     14
2000      6
2004      5
1998      3
2020      3
2002      3
2001      2
1997      2
1988      1
1999      1
1991      1
2003      1
1993      1
1995      1
Name: count, dtype: int64

6. Crear un diccionario convirtiendo las categorías de la columna "Owner" a etiquetas abreviadas y después añadirlas a una nueva columna

In [ ]:
owner_to_label={
    '1st owner':'FST',
    '2nd owner':'SND',
    '3rd owner':'TRD',
    '4th owner':'FTH'
}

In [ ]:
df2 = df.copy()
df2['Owner_label'] = df['Owner'].map(owner_to_label)
df2.head()

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price,Owner_label
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0,FST
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0,FST
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0,FST
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0,FST
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0,SND

7. Extraer una columna del dataframe y guardar valores como un objeto

In [ ]:
price = df['Selling_Price']
price

0       30000
1       18000
2       20000
3       25000
4       24999
        ...
1056    90000
1057    20000
1058    60000
1059    40000
1060    35000
Name: Selling_Price, Length: 1061, dtype: int64

8. Devuelve estadísticas descriptivas de la variable "price"

In [ ]:
price.describe()

count      1061.000000
mean      59638.151744
std       56304.291973
min        5000.000000
25%       28000.000000
50%       45000.000000
75%       70000.000000
max      760000.000000
Name: Selling_Price, dtype: float64

9. Clasificar los valores de ""price" en intervalos definidos por bins y después contar cuántos hay en cada intervalo

In [ ]:
bins = [20000, 30000, 50000, 70000, 90000]
price_cat = pd.cut(price, bins) 
price_cat.value_counts()

NameError: name 'pd' is not defined

10. Crear etiquetas para clasificar los precios en categorias. Agrupar y contar cuántos valores hay en cada categoría

In [ ]:
labels = ['Bajo', 'Medio', 'Alto', 'Muy Alto']
price_cat = pd.cut(price, bins, labels=labels)
price_cat.value_counts()

Selling_Price
Medio       318
Bajo        315
Alto        144
Muy Alto     87
Name: count, dtype: int64